.shop-container {
  z-index: 1;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;

  padding-left: 20px;
  padding-right: 20px;
}
.cart-container {
  background: #b5e6a6;
}
